@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4762FF;
  border-radius: 20px;
  border: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.flex { display: flex; }
.flex-center { justify-content: center; align-items: center; }
.flex-col { flex-direction: column; }

body {
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: auto;
    background-color: #fff;
    overflow-x: hidden;
}

header {
    padding: 0px 165px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.03);
    /* border: 2px red solid; */
}

header .header-top {
    padding: 17px 0px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header .header-top .left-box span {
    margin: 0px 19px 0px 45px; 
    width: 2px;
    height: auto;
    background-color: rgba(51, 51, 51, 0.1);
}

header .header-top .left-box .address-box,
header .header-top .left-box .grafic-box,
header .header-top .right-box .phone-box {
    align-items: start;
    gap: 8px;
}

header .header-top .left-box .address-box img, 
header .header-top .left-box .grafic-box img,
header .header-top .right-box .phone-box img {
    width: 20px;
}

header .header-top .left-box .address-box .text-box,
header .header-top .left-box .grafic-box .text-box,
header .header-top .right-box .phone-box .text-box {
    gap: 4px;
}

header .header-top .left-box .address-box p,
header .header-top .left-box .grafic-box p,
header .header-top .right-box .phone-box p {
    font-weight: 400;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
}

header span {
    width: 100%;
    height: 2px;
    background-color: rgba(51, 51, 51, 0.1);
}

header .header-bottom {
    padding: 18px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom nav {
    gap: 46px;
}

header .header-bottom nav a {
    color: #333;
    font-weight: 500;
    font-size: 16px;
}

header .header-bottom  button {
    padding: 12px 24px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #4762FF;
    border-radius: 6px;
}

main {
    width: 100vw;
    height: auto;
}

main .block1 {
    align-items: center;
    justify-content: space-between;
    padding: 22px 0px 0px 165px;
    width: 100%;
}

main .block1 button {
    padding: 12px 38px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #4762FF;
    border-radius: 8px;
}

main .block1 .text-box .first-text {
    color: #333;
    line-height: 76px;
    font-weight: 700;
    font-size: 60px;
}

main .block1 .text-box .second-text {
    color: rgba(51, 51, 51, 0.8);
    font-weight: 400;
    font-size: 18px;
}

main .block2 .text-box .first-text{
    color: #333;
    line-height: 76px;
    font-weight: 700;
    font-size: 40px;
}

main .block2 .text-box .second-text {
    width: 65%;
    text-align: center;
    color: rgba(51, 51, 51, 0.8);
    font-weight: 400;
    font-size: 18px;
}

main .block2 .card-box {
    padding: 0px 200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 36px;
    row-gap: 32px;
    justify-content: center;
    grid-auto-flow: row;
}

main .block2 .card-box .card {
    position: relative;
    height: 300px;
    overflow: hidden;
    align-items: start;
    justify-content: start;
    padding: 26px 28px;
    border-radius: 8px;
    background-color: #F4F6FA;
}

main .block2 .card-box .card img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    mix-blend-mode: multiply;
}

main .block2 .card-box .card .text-box {
    width: 50%;
    gap: 16px;
}

main .block2 .card-box .card .text-box .first-text{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

main .block2 .text-box .second-text {
    text-align: start;
    color: rgba(51, 51, 51, 0.8);
    font-weight: 400;
    font-size: 16px;
}
